<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.linx.multica-hermes-supervisor</string>
	<key>ProgramArguments</key>
	<array>
		<string>__MULTICA_HERMES_GATEWAY_BIN__</string>
		<string>supervisor</string>
		<string>--config</string>
		<string>__MULTICA_HERMES_CONFIG__</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>StandardOutPath</key>
	<string>__MULTICA_HERMES_SUPERVISOR_LOG__</string>
	<key>StandardErrorPath</key>
	<string>__MULTICA_HERMES_SUPERVISOR_ERROR_LOG__</string>
</dict>
</plist>
